
 .btn{
    color:white;
}
  
  .form-inline input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

  .input-group{
      width: 95%;
      margin: 20px;
      align-items: center;
      margin-left: 50;
  }
  