body {
    background-color:snow;
    background-image:"https://media.istockphoto.com/photos/white-marble-texture-pattern-background-picture-id968831322"
}
 table{
     margin-top: 15px;
 }

th {
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Inria Serif', serif;
    color: rgb(104, 16, 16);
    cursor: pointer;  
}
img {
    border-radius: 50%;  
    box-shadow: black 1px 1px 8px;  
 }
 .tableEmployee{
    margin-left: 40px;
    margin-right: 40px;
    padding: 0px;
    font-family: 'Catamaran', sans-serif; 
    text-align: center; 
    font-size: larger;
}

.name-cell{
    text-transform: capitalize;
    background-color:#d44a8a79;
}